[submodule "tools/slingshot"]
	path = tools/slingshot
	url = https://github.com/kstreet13/slingshot.git
[submodule "tools/space-gm"]
	path = tools/space-gm
	url = https://gitlab.com/enable-medicine-public/space-gm.git
